<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/header.css" rel="stylesheet" />
	<link href="/css/profile.css" rel="stylesheet" />
	<link href="/css/menutitle.css" rel="stylesheet" />
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="main">
		<div class="menu-title">
			-개인정보-
		</div>
		<div class="profile">
			<div class="profile_row1">
				<div class="avatar image content-box" style="background-image: url(<%-user.avatarUrl%>);">
				</div>
				<div class="right-column">
					<div class="right-column_row1">
						<div class="text content-box">
							<%-user.name%>
						</div>
						<div class="text content-box">
							<%-user.rank%>
						</div>
					</div>
					<div class="right-column_row2">
						<div class="text content-box">
							<%-user.service_number%>
						</div>
						<div class="text content-box">
							<%let date=user.date_of_birth%>
								<%let year=date.getFullYear()%>
									<%let month=date.getMonth() < 9 ? '0' +(date.getMonth()+1) : (date.getMonth()+1)%>
										<%let day=date.getDate() < 10 ? '0' + date.getDate() : date.getDate()%>
											<%-year+'-'+month+'-'+day%>
						</div>
					</div>
					<div class="right-column_row3">
						<div class="account-integration content-box">계좌 연동 정보(ibk, kb)</div>
					</div>
				</div>
			</div>
			<div class="row-wrapper">
				<div class="profile_row2">
					<div class="bottom-content content-box">
						<%-user.tel_number%>
					</div>
				</div>
				<div class="profile_row3">
					<div class="bottom-content content-box">
						<%-user.affiliated_unit%>
					</div>
				</div>
				<div class="profile_row4">
					<button class="edit-profile bottom-content image"
						onclick="window.location = '/profile/edit'"></button>
				</div>
			</div>
		</div>
	</main>
</body>

</html>