<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>언택트 BX</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/header.css" rel="stylesheet" />
	<link href="/css/reservation.css" rel="stylesheet" />
	<link href="/css/menutitle.css" rel="stylesheet" />
	<script type="text/javascript">
		var user = JSON.parse('<%-JSON.stringify(user)%>');
		var signed = false;
					<% if (user) {%>
			signed = true;
						<% }%>
	</script>
</head>

<body>
	<header class="header">
		<a class="header__hompage-link" href="/">
			<div class="header__logo"></div>
		</a>
	</header>

	<main class="goodsreservedtime__main main">
		<div class="goodsreservedtime__title menu-title">
			-물품수령시간-
		</div>
		<div class="goodsreservedtime--main-content">
			<div class="main-content--left-column">
				<div class="main-content--left-top">
					<div class="main-content--avatar image"></div>
					<div class="main-content--information">
						<div class="information__name">
							이름:
							<div class="information__name__namespace">
								<%-user.name%>
							</div>
						</div>
					</div>
				</div>
				<div class="main-content--left-bottom">
					<div class="main-content--caution">
						<div class="caution__header">
							●제품별 유의사항
						</div>
						<ul class="caution__caution-list">
							<li class="caution-list-item">
								-<span class="caution-list-item__content">냉동 제품 포함, 수령시간 내 수령 요망.</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">(다른 유의사항도 추가 ex)유제품 포함)</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">냉동 제품 포함, 수령시간 내 수령 요망.</span>
							</li>
							<li class="caution-list-item">
								-<span class="caution-list-item__content">(다른 유의사항도 추가 ex)유제품 포함)</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="main-content--right-column">
				<div class="main-content--purchase-list">
					<div class="purchase-list__header">
						●주문 목록
					</div>
					<div>
						--------------------
					</div>
					<div>
						--------------------
					</div>
					<ul class="purchase-list__list">
						<% orders.forEach(function(order) {%>
							<div class="purchase-list__header">
								- 주문일: <%-(order.issuedAt.getMonth()+1) + '/' + order.issuedAt.getDate()%>
							</div>
							<div class="purchase-list__header">
								- 총 가격: <%-order.amount%> 원
							</div>
							<div>
								●주문한 상품
							</div>
							<% order.items.forEach(function(product) {%>
								<li class="purchase-list__item">
									<div class="purchase-list__item__name">
										- <%-product.name%> x
									</div>
									<div class="purchase-list__item__count">
										<%-product.amount%>
									</div>
									<div class="purchase-list__item__price">
										: <%-product.price * product.amount%>
									</div>
									원
									<%});%>
								</li>
								<div>
									---------------------
								</div>
								<%});%>
					</ul>
				</div>
			</div>
		</div>
	</main>

	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/reservation.js"></script>
</body>

</html>